* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

a {
  transition: all 0.5s ease;
}
a:hover {
  transform: scale(1.1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: #F7FAFD;
}

.notifications-page {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.notifications-page .container {
  margin-block: 10vh;
  width: 50%;
  margin-inline: auto;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(73, 97, 168, 0.05);
  border-radius: 15px;
  padding: 30px;
  padding-bottom: 10px;
}
@media (max-width: 1024px) {
  .notifications-page .container {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .notifications-page .container {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .notifications-page .container {
    width: 90%;
    padding: 16px;
  }
}
@media (max-width: 425px) {
  .notifications-page .container {
    width: 95%;
  }
}
.notifications-page .container .content .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 31px;
}
@media (max-width: 576px) {
  .notifications-page .container .content .heading {
    margin-bottom: 24px;
  }
}
.notifications-page .container .content .heading .left-side {
  display: flex;
  align-items: center;
  gap: 11px;
}
@media (max-width: 576px) {
  .notifications-page .container .content .heading .left-side {
    gap: 9px;
  }
}
.notifications-page .container .content .heading .left-side p {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #1C202B;
}
@media (max-width: 576px) {
  .notifications-page .container .content .heading .left-side p {
    font-size: 20px;
    line-height: 25px;
  }
}
.notifications-page .container .content .heading .left-side span {
  display: inline-block;
  background: #0A327B;
  border-radius: 6px;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 4px 11px;
  margin-bottom: 3px;
}
.notifications-page .container .content .heading .right-side a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #5E6778;
}
@media (max-width: 576px) {
  .notifications-page .container .content .heading .right-side a {
    font-size: 14px;
    line-height: 18px;
  }
}
.notifications-page .container .content .heading .right-side a:hover {
  color: #0A327B;
}
.notifications-page .container .content .notifications .notification {
  padding: 16px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  margin-bottom: 8px;
}
@media (max-width: 576px) {
  .notifications-page .container .content .notifications .notification {
    padding: 16px;
    gap: 13px;
    margin-bottom: 10px;
  }
}
.notifications-page .container .content .notifications .notification.unread {
  background: #F7FAFD;
}
.notifications-page .container .content .notifications .notification .image {
  flex-basis: 7%;
  align-self: baseline;
}
@media (max-width: 576px) {
  .notifications-page .container .content .notifications .notification .image {
    flex-basis: 11%;
  }
}
.notifications-page .container .content .notifications .notification .info-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex-basis: 93%;
}
@media (max-width: 576px) {
  .notifications-page .container .content .notifications .notification .info-container {
    flex-basis: 89%;
  }
}
.notifications-page .container .content .notifications .notification .info-container.info-container-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.notifications-page .container .content .notifications .notification .info-container.info-container-img .notification-image {
  text-align: right;
}
@media (max-width: 576px) {
  .notifications-page .container .content .notifications .notification .info-container.info-container-img .notification-image {
    width: 20%;
  }
}
.notifications-page .container .content .notifications .notification .info-container.info-container-img .notification-image img {
  width: 50%;
  cursor: pointer;
}
@media (max-width: 576px) {
  .notifications-page .container .content .notifications .notification .info-container.info-container-img .notification-image img {
    width: 100%;
  }
}
.notifications-page .container .content .notifications .notification .info-container .detail-info {
  display: flex;
  gap: 6px;
  align-items: center;
}
.notifications-page .container .content .notifications .notification .info-container .detail-info .detail {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5E6778;
  flex-basis: 95%;
}
@media (max-width: 576px) {
  .notifications-page .container .content .notifications .notification .info-container .detail-info .detail {
    font-size: 14px;
    line-height: 18px;
    flex-basis: 100%;
  }
}
.notifications-page .container .content .notifications .notification .info-container .detail-info .detail span {
  margin-right: 2px;
}
.notifications-page .container .content .notifications .notification .info-container .detail-info .detail span.name {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #1C202B;
}
@media (max-width: 576px) {
  .notifications-page .container .content .notifications .notification .info-container .detail-info .detail span.name {
    font-size: 14px;
    line-height: 18px;
  }
}
.notifications-page .container .content .notifications .notification .info-container .detail-info .detail span.name:hover {
  color: #0A327B;
  cursor: pointer;
}
.notifications-page .container .content .notifications .notification .info-container .detail-info .detail span.event {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #5E6778;
}
@media (max-width: 576px) {
  .notifications-page .container .content .notifications .notification .info-container .detail-info .detail span.event {
    font-size: 14px;
    line-height: 18px;
  }
}
.notifications-page .container .content .notifications .notification .info-container .detail-info .detail span.event:hover {
  color: #0A327B;
  cursor: pointer;
}
.notifications-page .container .content .notifications .notification .info-container .detail-info .detail span.event.special-event {
  color: #0A327B;
}
.notifications-page .container .content .notifications .notification .info-container .detail-info .unread-icon {
  display: inline-block;
  margin-top: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #F65552;
}
.notifications-page .container .content .notifications .notification .info-container .time-info span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #939CAD;
}
@media (max-width: 576px) {
  .notifications-page .container .content .notifications .notification .info-container .time-info span {
    font-size: 14px;
    line-height: 18px;
  }
}
.notifications-page .container .content .notifications .notification .info-container .notification-info {
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #DDE7EE;
  border-radius: 5px;
  margin-top: 10px;
}
@media (max-width: 576px) {
  .notifications-page .container .content .notifications .notification .info-container .notification-info {
    padding: 16px;
  }
}
.notifications-page .container .content .notifications .notification .info-container .notification-info:hover {
  background: #E5EFFA;
  cursor: pointer;
}
.notifications-page .container .content .notifications .notification .info-container .notification-info span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5E6778;
}
@media (max-width: 576px) {
  .notifications-page .container .content .notifications .notification .info-container .notification-info span {
    font-size: 14px;
    line-height: 18px;
  }
}/*# sourceMappingURL=style.css.map */