* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

a {
  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.1);
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: #f7fafd;
}

.notifications-page {
  font-family: "Plus Jakarta Sans", sans-serif;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    margin-top: 10vh;
    width: 50%;
    margin-inline: auto;
    background: #ffffff;
    box-shadow: 0px 20px 60px rgba(73, 97, 168, 0.05);
    border-radius: 15px;
    padding: 30px;
    padding-bottom: 10px;

    @media (max-width: 1024px) {
      width: 70%;
    }

    @media (max-width: 768px) {
      width: 80%;
    }

    @media (max-width: 576px) {
      width: 90%;
      padding: 16px;
      margin-block: 4vh;
    }

    @media (max-width: 425px) {
      width: 95%;
    }

    .content {
      .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 31px;

        @media (max-width: 576px) {
          margin-bottom: 24px;
        }

        .left-side {
          display: flex;
          align-items: center;
          gap: 11px;

          @media (max-width: 576px) {
            gap: 9px;
          }

          p {
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 30px;
            color: #1c202b;

            @media (max-width: 576px) {
              font-size: 20px;
              line-height: 25px;
            }
          }

          span {
            display: inline-block;
            background: #0a327b;
            border-radius: 6px;
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 20px;
            color: #ffffff;
            padding: 4px 11px;
            margin-bottom: 3px;
          }
        }

        .right-side {
          a {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: #5e6778;

            @media (max-width: 576px) {
              font-size: 14px;
              line-height: 18px;
            }

            &:hover {
              color: #0a327b;
            }
          }
        }
      }

      .notifications {
        .notification {
          padding: 16px 20px;
          display: flex;
          align-items: center;
          gap: 20px;
          border-radius: 8px;
          margin-bottom: 8px;

          @media (max-width: 576px) {
            padding: 16px;
            gap: 13px;
            margin-bottom: 10px;
          }

          &.unread {
            background: #f7fafd;
          }

          .image {
            flex-basis: 7%;
            align-self: baseline;

            @media (max-width: 576px) {
              flex-basis: 11%;
            }
          }

          .info-container {
            display: flex;
            flex-direction: column;
            gap: 3px;
            flex-basis: 93%;

            @media (max-width: 576px) {
              flex-basis: 89%;
            }

            &.info-container-img {
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-direction: row;

              .notification-image {
                text-align: right;

                @media (max-width: 576px) {
                  width: 20%;
                }

                img {
                  width: 50%;
                  cursor: pointer;

                  @media (max-width: 576px) {
                    width: 100%;
                  }
                }
              }
            }

            .detail-info {
              display: flex;
              gap: 6px;
              align-items: center;

              .detail {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #5e6778;
                flex-basis: 95%;

                @media (max-width: 576px) {
                  font-size: 14px;
                  line-height: 18px;
                  flex-basis: 100%;
                }

                span {
                  margin-right: 2px;

                  &.name {
                    font-weight: 800;
                    font-size: 16px;
                    line-height: 20px;
                    color: #1c202b;

                    @media (max-width: 576px) {
                      font-size: 14px;
                      line-height: 18px;
                    }

                    &:hover {
                      color: #0a327b;
                      cursor: pointer;
                    }
                  }

                  &.event {
                    font-weight: 800;
                    font-size: 16px;
                    line-height: 20px;
                    color: #5e6778;

                    @media (max-width: 576px) {
                      font-size: 14px;
                      line-height: 18px;
                    }

                    &:hover {
                      color: #0a327b;
                      cursor: pointer;
                    }

                    &.special-event {
                      color: #0a327b;
                    }
                  }
                }
              }

              .unread-icon {
                display: inline-block;
                margin-top: 3px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #f65552;
              }
            }

            .time-info {
              span {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #939cad;

                @media (max-width: 576px) {
                  font-size: 14px;
                  line-height: 18px;
                }
              }
            }

            .notification-info {
              padding: 20px;
              background: #ffffff;
              border: 1px solid #dde7ee;
              border-radius: 5px;
              margin-top: 10px;

              @media (max-width: 576px) {
                padding: 16px;
              }

              &:hover {
                background: #e5effa;
                cursor: pointer;
              }

              span {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #5e6778;

                @media (max-width: 576px) {
                  font-size: 14px;
                  line-height: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}
